html{
    font-family: 'Lora', serif;
    background-color: #3BA144;
}
#corpo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#valor_dolar{
    color: #ffffff;
    font-size: 22vh;
    margin-top: 10%;
}
#rodape{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
}
.legenda{
    margin-left: 12px;
    font-size: 4vh;
    color: #3BA144;
}
.numeros{
    font-size: 4vh;
    color: #3BA144;
    margin-left: 2px;
    margin-right: 12px;
}
@media (max-width: 768px){
    #corpo{
        position: relative;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-top: 30vh;
    }
    #valor_dolar{
        font-size: 10vh;
    }
    #rodape{
        margin-top: 80px;
        max-width: 80vh;
    }
    .legenda{
        font-size: 10px;
    }
}